﻿
<!DOCTYPE html>
<html lang="en">
    <head>
        @*<meta charset="utf-8" />
        <title>@ViewBag.Title - Reliant Heart-Device Tracking</title>
        <link href="~/Images/download.jpg" rel="shortcut icon" type="image/x-icon"  />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

        <meta charset="utf-8">
        @*<title>Bootstrap, from Twitter 2.0.2 Documentation - BootstrapDocs</title>*@
        <title>Reliant Heart Device Tracking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="../assets/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="../assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    </head>
    <body>
        <header>

            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="#">Device Tracking System</a>
                        <div class="nav-collapse">

                            <ul class="nav">
                                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("Customers", "CustomersIndex", "Customers")</li>                          
                                <li>@Html.ActionLink("Devices", "DeviceIndex", "Device")</li>
                                <li>@Html.ActionLink("Patients", "PatientsIndex", "Patients")</li>                     
                               
                              
                            </ul>
                       
                        </div>
                       
                        <div class="float-right">
                           
                            <section class="navbar-text pull-right" id="login">
                                @Html.Partial("_LoginPartial")
                            </section>

                        </div>
                    </div>
                </div>
            </div>

        
            <div class="container">
                <div class="float-left">

                    <p class="site-title">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="~/Images/images.png" />
                        </a>
                    </p>
                </div>

            </div>
        </header>
        <div class="container">         
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>


            <hr>

            <footer>

                <p>&copy; @DateTime.Now.Year - ReliantHeart-Device Tracking</p>

            </footer>

        </div>
       

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)



       
    </body>
</html>
