﻿@model DataAcessLayer.DeviceAccess.ViewModelPateintDetails


<h2>Details</h2>

<div style="padding-left:750px" id="divMessage">
    <p style="color:red; width:250px; font-size:large">@TempData["message"]</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#divMessage").fadeOut(5000);
    });
</script>

@foreach (var item in Model.PatientsDetails)
{
    <p style="font-size:19px">Patient: @item.Patient_ID</p>
    <hr />
    <table>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">Customer : </td>
            <td>@item.Customer_Name</td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">IRF : </td>
            <td>@item.PatientsImplantPhysician</td>


        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">Implant Date : </td>
            <td>@item.PatientsImplantDate</td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">Updated :</td>
            <td>@item.Updated</td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">Last Altered By :</td>
            <td>@item.Last_Altered_By</td>
        </tr>
    </table>

}
@if (Model.SFAccountsDetails.Count > 0)
{
<p style="padding-top:25px">
    <h2>Assigned Devices</h2>

    <hr />

</p>

<table class="table table-striped">
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">Part ID</td>
        <td align="right" style="font-weight:700; font-size:16px">Serial Number</td>
        <td align="right" style="font-weight:700; font-size:16px">Status</td>
        <td align="right" style="font-weight:700; font-size:16px">ParentPartID</td>
        <td align="right" style="font-weight:700; font-size:16px">Parent_Serial_Number</td>
        <td align="right" style="font-weight:700; font-size:16px">Action</td>
    </tr>
  
        @foreach (var item in Model.SFAccountsDetails)
        {
            <tr>
                <td>@item.Part_ID</td>
                <td>@item.Serial_Number</td>
                <td>@item.Status</td>
                <td>@item.ParentPartID</td>
                <td>@item.Parent_Serial_Number</td>
                <td>
                  
                    @Html.ActionLink("Edit", "Edit", "Device", new { id = item.ID, CustId = item.Customer_ID, DeviceLocId = item.DeviceLocID, Status = item.Status, ParentID = item.ParentPartID, Pid = item.PID }, new { target = "_blank" }) |
|
                   

                    @Html.ActionLink("Details", "Details", "Device", new { id = item.ID }, new { target = "_blank" })
                </td>
            </tr>
        }
           
</table>
}
else
{
    <hr />
    <div style="padding-left:400px; padding-top:20px; padding-bottom:20px">
        <h3>No devices Assigned for this patient</h3>
    </div>
    <hr />

}
@*<div id="GrandChildPatients"  hidden="hidden" >
    <table class="table table-striped">
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">Part ID</td>
            <td align="right" style="font-weight:700; font-size:16px">Serial Number</td>
            <td align="right" style="font-weight:700; font-size:16px">Status</td>
            <td align="right" style="font-weight:700; font-size:16px">ParentPartID</td>
            <td align="right" style="font-weight:700; font-size:16px">Parent_Serial_Number</td>
            <td align="right" style="font-weight:700; font-size:16px">Action</td>
        </tr>
        <tr>
            @foreach (var item in Model.SFAccountsDetails)
            {
                <td>@item.Part_ID</td>
                <td>@item.Serial_Number</td>
                <td>@item.Status</td>
                <td>@item.ParentPartID</td>
                <td>@item.Parent_Serial_Number</td>
                <td>
                    @Html.ActionLink("Edit", "PatientEdit", new { id = item.Patient_ID, CustId = item.Customer_ID }) |
                    @Html.ActionLink("Details", "PatientDetails", new { id = item.Patient_ID, CustId = item.Customer_ID })
                </td>
            }
        </tr>
    </table>
</div>*@

<p style="padding-top:40px">
    <hr />
</p>

<p style="padding-top:40px">
    
       
        @Html.ActionLink("Back to List", "PatientsIndex")
   
</p>