﻿

@model DeviceTrackingSystem.Models.Patient
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">


<h2>Edit Patient</h2>
<p style="font-size:19px">Edit Patient: @Html.DisplayTextFor(model=>model.Patient_ID)</p>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <table>
        <tr>
            <td colspan="2">
                @Html.HiddenFor(model => model.ID)
            </td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                @Html.LabelFor(model => model.Customer_Name)
            </td>
            <td>
                @Html.DropDownList("Customer_ID", ViewBag.customerName as SelectList, " - Select - ", htmlAttributes: new { style = "width:400px" })
                @Html.ValidationMessageFor(model => model.Customer_Name)
            </td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                @Html.LabelFor(model => model.Implant_Date)
            </td>
            <td>
             @Html.TextBoxFor(m => m.Implant_Date, "{0:dd/MM/yyyy}", new { @class = "datepicker" })                          
         
                @Html.ValidationMessageFor(model => model.Implant_Date)
            </td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                @Html.LabelFor(model => model.Implant_Physcian)
            </td>
            <td>
                @Html.EditorFor(model => model.Implant_Physcian)
                @Html.ValidationMessageFor(model => model.Implant_Physcian)
            </td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                @Html.LabelFor(model => model.Explant_Date )
             
            </td>
            <td>
                @Html.TextBoxFor(m => m.Explant_Date, new { @class = "datepicker" })       
               
                @Html.ValidationMessageFor(model => model.Explant_Date)
            </td>       
       </tr>
       
        <tr>

            <td></td>
            <td>
                <input type="submit" value="Save" style="width:60px" />
               
            </td>
        </tr>
    </table>
}

<div>
    @Html.ActionLink("Back to List", "PatientsIndex") 
     
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

<script>
    $(function () {
        $(".datepicker").datepicker({
            inline: true,
            showOtherMonths: true,
            dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            dateformat: 'dd/mm/yyyy',
        });

    });
</script>






 


}









 
    