﻿@model DataAcessLayer.DeviceAccess.ViewModelPateintDetails

@{
    ViewBag.Title = "PatientSubDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patient Details</h2>
<hr />

<table class="table table-striped">
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Part ID :
        </td>
        <td>
            @ViewBag.id
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Serial Number :
        </td>
        <td>
            @ViewBag.serialNumber
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Status :
        </td>
        <td>
            @ViewBag.status
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Parent Part ID :
        </td>
        <td >
            @ViewBag.parentPartID
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Parent Serial Number :
        </td>
        <td >
            @ViewBag.parentSerialNumber
        </td>
    </tr>
</table>
<hr />

@Html.ActionLink("Back to List", "Details", new { id = (int)@ViewBag.id, CustId = (string)@ViewBag.custID })