﻿@model DataAcessLayer.DeviceAccess.ViewModelPateintDetails

@{
    ViewBag.Title = "PatientDetailsEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patient Details Edit</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                Part ID :
            </td>
            <td>                
                @Html.DropDownList("ID", ViewBag.partId as SelectList, " - Select - ", new { @class = "ddlDevice" })
            </td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                Serial Number :
            </td>
            <td>
                @Html.DropDownList("ID", ViewBag.serialNumber as SelectList, " - Select - ", new { @class = "ddlDevice" })                
            </td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                Status :
            </td>
            <td>
                @Html.DropDownList("ID", ViewBag.status as SelectList, " - Select - ", new { @class = "ddlDevice" })                
            </td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                Parent Part ID :
            </td>
            <td>
                @Html.DropDownList("ID", ViewBag.parentPartID as SelectList, " - Select - ", new { @class = "ddlDevice" })                
            </td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                Parent Serial Number :
            </td>
            <td>
                @Html.DropDownList("ID", ViewBag.parentSerialNumber as SelectList, " - Select - ", new { @class = "ddlDevice" })                
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-top:20px"><input type="submit" value="Save" style="width:80px; height:30px"/></td>
        </tr>
    </table>    
}
<p style="padding-top:30px">
    <hr />
</p>
<div>
    @Html.ActionLink("Back to List", "Details", new { id = (int)@ViewBag.patientId, CustId = (string)@ViewBag.custID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style type="text/css">
    .ddlDevice {
        Width: 120px;
        height: 25px;
    }
</style>