﻿@model IEnumerable<DataAcessLayer.DeviceAccess>

@{
    ViewBag.Title = "PatientsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(
       Model,
       rowsPerPage: ViewBag.rowsPerPage,
       selectionFieldName: "selectedRow",
       ajaxUpdateContainerId: "gridContent"
   );
}

<h3>Patients Index</h3>

@using (Html.BeginForm("PatientsIndex", "Patients", FormMethod.Get))
{
    <div style="padding-left:750px" id="divMessage">
        <p style="color:red; width:250px; font-size:large">@TempData["message"]</p>
    </div>
    
    <div>
        <table>
            <tr>
                <td >
                    @Html.Label("Find by PatientID:", null, new { @class = "cssPartID" })
                </td>
                <td >
                    @Html.TextBox("SearchKey", "", new { @class = "csstxtSearch" })
                </td>
                <td>
                    <input type="submit" value="Search" id="btnSubmit" />
                </td>
                <td>
                    @Html.ActionLink("Clear", "PatientsIndex", "Patients")
                </td>
                <td style="width:50px"></td>
               
                <td >
                    @Html.Label("Find by Customer:", null, new { @class = "cssParentPartID" })
                </td>
                <td >
                    @Html.TextBox("ParentSearchKey", "", new { @class = "csstxtSearch" })
                </td>
                <td>
                    <input type="submit" value="Search" id="btnSubmit" />
                </td>
                <td>
                    @Html.ActionLink("Clear", "PatientsIndex", "Patients")
                </td>
                <td style="width:50px"></td>
                <td>
                    @Html.Label("Find by Implant Date:", null, new { @class = "cssParentPartID" })
                </td>
                <td>
                    @Html.TextBox("ParentKey", "", new { @class = "csstxtSearch" })
                </td>
                <td>
                    <input type="submit" value="Search" id="btnSubmit" />
                </td>
                <td>
                    @Html.ActionLink("Clear", "PatientsIndex", "Patients")
                </td>
                
            </tr>
        </table>


    </div>

    <div style="float:right">
        <table>
            <tr style="float:left">
                <td style="width:60px;">
                    @Html.ActionLink("Show All", "PatientsIndex", new { ShowAll = "true" })
                </td>

                <td style="width:20px"></td>

                <td>
                    @Html.ActionLink("Show Archived", "PatientsIndex", "Patients")
                </td>
            </tr>
        </table>
    </div>

    <div id="gridContent">
        @grid.Table(

         htmlAttributes: new
            {
                id = "grid",
                @class = "table table-striped table-hover table-condensed"
            },
        alternatingRowStyle: "",
        selectedRowStyle: "",
        columns:
            grid.Columns(
                    grid.Column(columnName: "PatientID", header: "Patient ID"),
                    grid.Column(columnName: "Customer_Name", header: "Customer Name"),
                    grid.Column(columnName: "PatientsImplantPhysician", header: "IRF"),
                    grid.Column(columnName: "PatientsImplantDate", header: "Implant Date"),
                     grid.Column(columnName: "ImplantPhysician", header: "Implant Physician"),
                     grid.Column(columnName: "PatientsDeathDate", header: "Explant Date"),

                    grid.Column("", format: @<text>

                       @Html.ActionLink("Edit", "Edit", new { id = item.ID, CustId = item.Customer_ID }) |
                       @Html.ActionLink("Details", "Details", new { id = item.ID, CustId = item.Customer_ID }) |
                     
                       @Html.ActionLink("Delete", "DeletePatientRecord", new { id = item.ID }, new { onclick = "return confirm('Are you sure want to delete record ?');" })

                    </text>, style: "col2Width", canSort: false)
                                                                                                                                                                                                                             ))
    </div>

    <div class="pagination">
        <table>
            <tr>
                <td>
                    <ul>
                        <li>@grid.Pager(mode: WebGridPagerModes.All)</li>
                    </ul>
                </td>
                <td style="width:700px"></td>

                <td> Records Per Page:&nbsp;@Html.DropDownList("paging", new SelectList(new List<int> { 20, 50 }, ViewBag.rowsPerPage), new { @style = "width: 50px;", onchange = @"form.submit();" })</td>
            </tr>
        </table>

    </div>

    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
        $("#divMessage").fadeOut(5000);
    });
    </script>

}
