﻿@model DeviceTrackingSystem.Models.Device_Locations
@{
    ViewBag.Title = " Create New Device Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Device Location</h2>

<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style="padding-left:750px" id="divMessage">
        <p style="color:red; width:250px; font-size:large">@TempData["message"]</p>
    </div>

    <table style="font-size:16px">
        <tr>
            <td align="left" style="font-weight:bold; font-size:16px;">
                @Html.LabelFor(model => model.Device_ID)
            </td>
            <td>
                @Html.DropDownList("ID", (IEnumerable<SelectListItem>)ViewBag.NameList, "Select Device_ID")
                @Html.ValidationMessageFor(model => model.Device_ID)
            </td>
        </tr>

        <tr>
            <td align="left" style="font-weight:bold; font-size:16px;">
                @Html.LabelFor(model => model.Customer_ID)
            </td>
            <td>
                @Html.DropDownList("CustomerID", (IEnumerable<SelectListItem>)ViewBag.CustomerList, "Select Customer")
                @Html.ValidationMessageFor(model => model.Customer_ID)
            </td>
        </tr>


        <tr>
            <td align="left" style="font-weight:bold; font-size:16px;">
                @Html.LabelFor(model => model.SO_ID)
            </td>
            <td>
                @Html.EditorFor(model => model.SO_ID)
                @Html.ValidationMessageFor(model => model.SO_ID)
            </td>
           
        </tr>

        <tr>
            <td align="left" style="font-weight:bold; font-size:16px;">
                @Html.LabelFor(model => model.Current_Location)
            </td>
            <td>
                @Html.DropDownList("StatusDropDown", new List<SelectListItem>
                {
                    new SelectListItem{ Text="True", Value = "True" },
                    new SelectListItem{ Text="False", Value = "False" },
                })

            </td>
        </tr>

       



        <tr>
            <td style="padding-top:60px"></td>
            <td>
                <input type="submit" value="Save" style="width:60px" />
            </td>
        </tr>
    </table>
}

<div>
    @Html.ActionLink("Back to List", "DeviceIndex")
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#divMessage").fadeOut(5000);
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}