﻿
@model DeviceTrackingSystem.Models.Device
@{
    ViewBag.Title = " Create New Device";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Device</h2>
<style type="text/css">
    .validation-error {
        color: red;
        font-weight:100;
    }
</style>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style="padding-left:750px" id="divMessage">
        <p style="color:red; width:250px; font-size:large">@TempData["message"]</p>
    </div>

    <table style="font-size:16px">
        <tr>
            <td align="left" style="font-weight:bold; font-size:16px;">
                @Html.LabelFor(model => model.Part_ID)
            </td>
            <td>
                @Html.EditorFor(model => model.Part_ID)
              
                @Html.ValidationMessageFor(m => m.Part_ID, null, new { @class = "validation-error", data_valmsg_for = "Part_ID" })
            </td>
            <td style="padding-left:20px;font-size:small;font-family:Arial;font-style:italic">ex:M10202.</td>
        </tr>

        <tr>
            <td align="left" style="font-weight:bold; font-size:16px;">
                @Html.LabelFor(model => model.Serial_Number)
            </td>
            <td>
                @Html.EditorFor(model => model.Serial_Number)
               
                @Html.ValidationMessageFor(m => m.Serial_Number, null, new { @class = "validation-error", data_valmsg_for = "Serial_Number" })
            </td>
            <td style="padding-left:20px;font-size:small;font-family:Arial;font-style:italic">ex:SK-P0134.</td>
        </tr>

        <tr>
            <td align="left" style="font-weight:bold; font-size:16px;">
                @Html.LabelFor(model => model.Status)
            </td>
            <td>
               @Html.DropDownList("StatusDropDown", new List<SelectListItem>
                {                 
                    
                    new SelectListItem{ Text="Available", Value = "available" },
                    new SelectListItem{ Text="In use", Value = "in use" },
                    new SelectListItem{ Text="Service", Value = "service" }
                 })
              
            </td>          
        </tr>

        <tr>
            <td align="left" style="font-weight:bold; font-size:16px;">
                @Html.LabelFor(model => model.Parent_ID)
            </td>
            <td>
                @Html.DropDownList("ID", (IEnumerable<SelectListItem>)ViewBag.NameList, "Select Parent Part_ID")              
                @Html.ValidationMessageFor(model => model.Parent_ID)
            </td>
        </tr>

        

        <tr>
            <td style="padding-top:60px"></td>
            <td>
                <input type="submit" value="Save" style="width:60px" />
            </td>
        </tr>
    </table>
}

<div>
    @Html.ActionLink("Back to List", "DeviceIndex")
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#divMessage").fadeOut(5000);
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}