﻿@model DataAcessLayer.DeviceAccess.ViewModelDeviceDetails

@{
    ViewBag.Title = " Device Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Device Details</h2>
<div style="padding-left:750px" id="divMessage">
    <p style="color:red; width:250px; font-size:large">@TempData["message"]</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#divMessage").fadeOut(5000);
    });
</script>
<hr />
<style type="text/css">
    .EditListColor {
        color: lightblue;
    }
</style>

@foreach (var item in Model.deviceDetails)
{
    <table>
        <tr>
            <td align="right" style="font-weight:600; font-size:15px">Part ID :</td>
            <td>@item.PartID</td>
        </tr>
        <tr>
            <td align="right" style="font-weight:600; font-size:15px">Serial Number :</td>
            <td>@item.SerialNumber</td>
        </tr>
        <tr>
            <td align="right" style="font-weight:600; font-size:15px">Status :</td>
            <td>@item.Status</td>
        </tr>
        <tr>
            <td align="right" style="font-weight:600; font-size:15px">Parent Part ID :</td>
            <td>@item.ParentPartID</td>
        </tr>
        <tr>
            <td align="right" style="font-weight:600; font-size:15px">Parent Serial Number :</td>
            <td>@item.ParentSerialNumber</td>
        </tr>
        <tr>
            <td align="right" style="font-weight:600; font-size:15px">Updated :</td>
            <td>@item.Updated</td>
        </tr>
        <tr>
            <td align="right" style="font-weight:600; font-size:15px">Last Updated By :</td>
            <td>@item.LastUpdatedBy</td>
        </tr>
    </table>
}
<p style="padding-top:10px"></p>
<hr />
<p style="font-size:21px; font-weight:500">
    Parent Device
</p>
<hr />
@if (Model.deviceParentDetails.Count > 0)
{
    
   
    <div style="padding-left:10px">
        <table class="table table-striped">
            <tr>               
                <td align="right" style="font-weight:700; font-size:16px; padding-left:30px">Parent Part ID</td>
                <td align="right" style="font-weight:700; font-size:16px; padding-left:30px">Parent Serial Number</td>
                <td></td>
            </tr>
            @foreach (var item in Model.deviceParentDetails)
            {
                 <tr>
                    <td style="padding-left:30px">@item.ParentPartID</td>
                    <td style="padding-left:30px">@item.ParentSerialNumber</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID, CustId = item.Customer_ID, DeviceLocId = item.DeviceLocationId, Status = item.Status, ParentID = item.ParentPartID, Pid = item.PID, ParentpartId = item.ParentPartID, psn = item.ParentSerialNumber }, new { target = "_blank" }) |

                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID, CustId = item.Customer_ID, DeviceLocId = item.DeviceLocationId, Status = item.Status, ParentID = item.Parent_ID, Pid = item.PID }) |*@
                        @Html.ActionLink("Details", "Details", new { id = item.PID }, new { target = "_blank" })
                
                     </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <hr />
    <div style="padding-left:400px; padding-top:20px; padding-bottom:20px">
        <h3>No parent for this device</h3>
    </div>
    <hr />
}


<hr />
<p style="font-size:21px; font-weight:500">
    Device Location History
</p>
<hr />
@if (Model.deviceLocationHistoryDetails.Count > 0)
{

<div style="padding-left:10px">
    <table class="table table-striped">
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">Customer Name</td>
            <td align="right" style="font-weight:700; font-size:16px; padding-left:30px">Sales Order ID</td>
            <td align="left" style="font-weight:700; font-size:16px; padding-left:30px">Date</td>
            <td></td>
        </tr>
        @foreach (var item in Model.deviceLocationHistoryDetails)
        {
            <tr>
                <td>@item.CustomerName</td>
                <td style="padding-left:30px">@item.SalesOrderID</td>
                <td style="padding-left:30px">@item.DeviceLocDate</td>
                <td>
                    @Html.ActionLink("Edit", "DeviceLocationHistoryDetailsEdit", new { id = item.ID, CustId = item.ID, deviceId = item.DeviceID }) |
                    @Html.ActionLink("Details", "DeviceLocationHistoryDetails", new { deviceID = item.DeviceID, customerName = item.CustomerName, salesOrderID = item.SalesOrderID, deviceLocDate = item.DeviceLocDate })
              
                </td>
            </tr>
        }
    </table>
</div>
}
else
{
    <hr />
    <div style="padding-left:400px; padding-top:20px; padding-bottom:20px">
        <h3>No Device Location for this device</h3>
    </div>
    <hr />
}
<hr />

<p style="font-size:21px; font-weight:500">
    Child Devices
</p>
<hr />
@if (Model.deviceChildDetails.Count > 0)
{

   

    <div style="padding-left:10px">
        <table class="table table-striped">
            <tr>
                <td align="right" style="font-weight:700; font-size:16px">Part ID</td>
                <td align="right" style="font-weight:700; font-size:16px; padding-left:30px">Serial Number</td>
                <td align="right" style="font-weight:700; font-size:16px; padding-left:30px">Status</td>
                <td align="right" style="font-weight:700; font-size:16px; padding-left:30px">Parent Part ID</td>
                <td align="right" style="font-weight:700; font-size:16px; padding-left:30px">Parent Serial Number</td>
                <td></td>
            </tr>
            @foreach (var item in Model.deviceChildDetails)
            {
                <tr>
                    <td>@item.PartID</td>
                    <td style="padding-left:30px">@item.SerialNumber</td>
                    <td style="padding-left:30px">@item.Status</td>
                    <td style="padding-left:30px">@item.ParentPartID</td>
                    <td style="padding-left:30px">@item.ParentSerialNumber</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID, CustId = item.Customer_ID, DeviceLocId = item.DeviceLocationId, Status = item.Status, ParentID = item.ParentPartID, Pid = item.PID, ParentpartId = item.ParentPartID, psn = item.ParentSerialNumber }, new { target = "_blank" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { target = "_blank" })
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
     <hr />
    <div style="padding-left:400px; padding-top:20px; padding-bottom:20px">
        <h3>No child devices for this device</h3>
    </div>
    <hr />
    <hr />
}

<p style="color:lightblue">   
    @Html.ActionLink("Back to List", "DeviceIndex")
</p>
