﻿@model DataAcessLayer.DeviceAccess.ViewModelDeviceDetails

@{
    ViewBag.Title = "DeviceLocationHistoryDetails";
}

<h2>DeviceLocationHistoryDetails</h2>

<hr />

<table class="table table-striped">
    <tr>
        <td align="right" style="font-weight:700; font-size:16px; padding-top:20px">
            Device ID :
        </td>
        <td >
            @ViewBag.deviceID
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Customer Name :
        </td>
        <td>
            @ViewBag.customerName
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Sales Order ID :
        </td>
        <td>
            @ViewBag.salesOrderID
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Date :
        </td>
        <td >
            @ViewBag.deviceLocDate
        </td>
    </tr>
</table>


<p style="padding-top:20px">
    <hr />
</p>
@Html.ActionLink("Back to List", "Details", new { id = (int)ViewBag.deviceID })


