﻿@model DataAcessLayer.DeviceAccess.ViewModelDeviceDetails

@{
    ViewBag.Title = "DeviceChildDetails";
}

<h2>DeviceChildDetails</h2>
<hr />

<table class="table table-striped">
    <tr>
        <td align="right" style="font-weight:700; font-size:16px; padding-top:20px">
            Part ID :
        </td>
        <td >
            @ViewBag.partID
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Serial Number :
        </td>
        <td >
            @ViewBag.serialNumber
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Status :
        </td>
        <td >
            @ViewBag.status
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Parent Part ID :
        </td>
        <td>
            @ViewBag.parentPartID
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Parent Serial Number :
        </td>
        <td >
            @ViewBag.parentSerialNumber
        </td>
    </tr>
</table>


<p style="padding-top:20px">
    <hr />
</p>
@Html.ActionLink("Back to List", "Details", new { id = (int)ViewBag.id })
