﻿@model DataAcessLayer.DeviceAccess.ViewModelDeviceDetails

@{
    ViewBag.Title = "DeviceLocationHistoryDetailsEdit";
}

<h2>Device Location History Details Edit</h2>

<hr />
<p style="padding-top:10px"></p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<table>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Customer Name :
        </td>
        <td>
            @Html.DropDownList("ID", ViewBag.customerName as SelectList, " - Select - ", new { @class = "ddlDevice" })
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Sales Order ID :
        </td>
        <td>
            @Html.DropDownList("ID", ViewBag.salesOrderID as SelectList, " - Select - ", new { @class = "ddlDevice" })
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Date :
        </td>
        <td>
            @Html.DropDownList("ID", ViewBag.deviceLocDate as SelectList, " - Select - ", new { @class = "ddlDevice" })
        </td>
    </tr>    
    <tr>
        <td></td>
        <td style="padding-top:20px"><input type="submit" value="Save" style="width:80px; height:30px" /></td>
    </tr>
</table>
}

<hr />
<div>
    @Html.ActionLink("Back to List", "Details", new { id = (int)ViewBag.id })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style type="text/css">
    .ddlDevice {
        Width: 180px;
        height: 25px;
    }
</style>