﻿@model IEnumerable<DataAcessLayer.DeviceAccess>
    @{ 
       
    ViewBag.Title = "DeviceIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(
       Model,rowsPerPage: ViewBag.rowsPerPage,   
    selectionFieldName: "selectedRow",
    canPage: true,
    ajaxUpdateContainerId: "gridContent"
    );
}

    <h3>DeviceIndex</h3>


@using (Html.BeginForm("DeviceIndex", "Device", FormMethod.Get))
{
    <div style="padding-left:750px" id="divMessage">
        <p style="color:red; width:250px; font-size:large">@TempData["message"]</p>
    </div>
        <div>

            <table>
                <tr>
                    <td>
                        @Html.Label("Find by PartID or Serial Number:", null, new { @class = "cssPartID" })
                    </td>
                    <td>
                        @Html.TextBox("SearchKey", "", new { @class = "csstxtSearch" })
                    </td>
                    <td>
                        <input type="submit" value="Search" id="btnSubmit" />
                    </td>
                    <td>
                        @Html.ActionLink("Clear", "DeviceIndex", "Device")
                    </td>
                    <td style="width:50px"></td>
                    <td>
                        @Html.Label("Find by Parent Part ID or Patient Serial Number", null, new { @class = "cssParentPartID" })
                    </td>
                    <td>
                        @Html.TextBox("ParentSearchKey", "", new { @class = "csstxtSearch" })
                    </td>
                    <td>
                        <input type="submit" value="Search" id="btnSubmit" />
                    </td>
                    <td>

                        @Html.ActionLink("Clear", "DeviceIndex", "Device")
                    </td>
                </tr>
            </table>


        </div>

    <div style="float:right">
        <table>
            <tr style="float:left">
                <td style="width:70px;">
                    @Html.ActionLink("Show All", "DeviceIndex", new { ShowAll = "true" })
               </td>
                <td style="width:20px"></td>
                <td>
                    @Html.ActionLink("Show Archived", "DeviceIndex", new { ShowAll = "false" })
                </td>
            </tr>
        </table>
    </div>
        <div id="gridContent">
            @grid.Table(

         htmlAttributes: new
            {
                id = "grid",

                @class = "table table-striped table-hover table-condensed"
            },
        alternatingRowStyle: "",
        selectedRowStyle: "",
           
            columns: grid.Columns(

                    grid.Column(columnName: "Part_ID", header: "Part ID"),
                    grid.Column(columnName: "Serial_Number", header: "Serial Number"),
                    grid.Column(columnName: "Status", header: "Status"),
                    grid.Column(columnName: "Parent_ID", header: "Parent Part ID"),                   
                    grid.Column(columnName: "ParentSerialNumber", header: "Parent Serial Number"),
                    grid.Column(columnName: "Customer_Name", header: "Customer Name"),

                    grid.Column("", format: @<text>
           
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID, CustId = item.Customer_ID, DeviceLocId = item.DeviceLocationId, Status = item.Status, ParentID = item.Parent_ID, Pid = item.PID, ParentpartId = item.Parent_ID, psn = item.ParentSerialNumber }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                      
                        @Html.ActionLink("Delete", "DeleteDevice", new { id = item.ID }, new { onclick = "return confirm('Are you sure want to delete record ?');" })

                    </text>, style: "col3Width", canSort: false)
                                                                                                                                         ))
        </div>
    
        <div class="pagination">
            <table>
                <tr>
                    <td>
                        <ul>
                            <li>@grid.Pager(mode: WebGridPagerModes.All)</li>
                        </ul>
                    </td>
                    <td style="width:700px"></td>

                    <td> Records Per Page:&nbsp;@Html.DropDownList("paging", new SelectList(new List<int> { 20, 50 }, ViewBag.rowsPerPage), new { @style = "width: 50px;", onchange = @"form.submit();" })</td>
                </tr>
            </table>                     
          
</div>

   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
        $("#divMessage").fadeOut(5000);
    });
    </script>
}

    





    
