﻿@model DeviceTrackingSystem.Models.Device

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Device</h2>

<p style="font-size:19px">Edit : @Html.DisplayFor(Model => Model.Part_ID) - @Html.DisplayFor(Model => Model.Serial_Number)</p>

<hr />
<style type="text/css">
    .ddlDevice {
        Width: 120px;
        height: 25px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ID)

    <table style="font-size:16px">
        <tr>
            <td align="right" style="padding-right:10px">
                @Html.LabelFor(model => model.Status)
            </td>
            <td>

                @Html.DropDownList("Status", new List<SelectListItem>
                 {
                    new SelectListItem{ Text="Available", Value = "available" },
                    new SelectListItem{ Text="In use", Value = "in use" },
                    new SelectListItem{ Text="Service", Value = "service" }
                 }, new { @class = "ddlDevice" })
             

                @Html.ValidationMessageFor(model => model.Status)
            </td>
        </tr>
        <tr>
            <td align="right" style="font-size:small;padding-right:10px">
                Parent Part ID

            </td>
            <td>
             
                @Html.DropDownList("ParentID", ViewBag.ParentID as List<SelectListItem>, new { @class = "ddlDevice", Style = "Width:400px" })
                @Html.ValidationMessageFor(model => model.Parent_ID)
            </td>
        </tr>
        <tr>
            <td align="right" style="font-size:small;padding-right:10px">
                Parent Serial Number
                
            </td>
            <td>              
                @Html.DropDownList("psn", new SelectList(string.Empty, "Value", "Text"), ViewData["psn"].ToString(), new { @class = "ddlDevice", Style = "Width:400px" })
                @Html.ValidationMessageFor(model => model.ParentSerialNumber)
            </td>
        </tr>
        <tr>
            <td align="right" style="font-size:small;padding-right:10px">
                Customer Name              
            </td>
            <td>
                @Html.DropDownList("Customer_ID", ViewBag.customerName as SelectList, " - Select - ", new { @class = "ddlDevice", Style = "Width:400px" })
                @Html.ValidationMessageFor(model => model.Customer_Name)
            </td>
        </tr>

        <tr>
            <td align="right" style="font-size:small;padding-right:10px">
                Archived
            </td>
            <td style="padding-left:20px">               
                @Html.CheckBox("templateId", Convert.ToBoolean(@TempData["IsArchived"]))
            </td>
        </tr>

        <tr>
            <td style="padding-top:60px"></td>
            <td>
                <input type="submit" value="Save" style="width:60px" />
            </td>
        </tr>
    </table>
}

<div>
    @Html.ActionLink("Back to List", "DeviceIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style type="text/css">
    .ddlDevice {
        Width: 150px;
        height: 25px;
    }
</style>

<script src="~/Scripts/jquery-1.8.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#ParentID").change(function () {
            $("#psn").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSerialNumber")', // we are calling json method
                dataType: 'json',
                data: { id: $("#ParentID").val() },
                success: function (SerialNumbers) {

                    //  contains the JSON formatted list
                    //  passed from the controller
                    $.each(SerialNumbers, function (i, SerialNumber) {
                        $("#psn").append('<option value="' + SerialNumber.Value + '">' + SerialNumber.Text + '</option>');
                    }); // here we are adding option for ParentID
                },
                error: function (ex) {
                    alert('Failed to retrieve serial no.' + ex);
                }
            });
            return false;
        })
    });
</script>