﻿
@model DataAcessLayer.ViewModelCustomerDetailsNew

    @{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


    @section featured {
    <section class="featured">

        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h2>Reliant Heart-Device Tracking</h2>
                <p>
                    Device Tracking data is updated twice a day.
                </p>
                <br />         


                <table border="1">
                    <tr><td style="width:300px;text-align:center;font-size:medium"><b>Source</b></td><td style="width:200px;text-align:center;font-size:medium"><b>StartDateTime</b></td><td style="width:200px;text-align:center;font-size:medium"><b>EndtDateTime</b></td><td style="text-align:center;font-size:medium"><b>Status</b></td></tr>
                    <tr>
                        <td style="padding-bottom:15px;"></td>
                        <td></td>
                    </tr>
                    <tr>

                        <td><b>Sales Force</b></td>
                        <td>@DateTime.Now</td>
                        <td>@DateTime.Now</td>
                        <td>Status</td>
                    </tr>

                    <tr>
                        <td style="padding-bottom:10px;"></td>
                        <td></td>
                    </tr>


                    <tr>
                        @foreach (var item in Model.expandablesStartDetails)
                        {
                            <td><b>@item.LogDescription</b></td>
                          
                            <td>@item.StartDateTime</td>
                            <td>@item.EndDateTime</td>
                            <td>@item.LogStatus</td>
                        }
                    </tr>
                    <tr>
                        @foreach (var item in Model.expandablesEndDetails)
                        {
                            <td><b>@item.LogDescription</b></td>
                            <td>@item.StartDateTime</td>
                            <td>@item.EndDateTime</td>
                            <td>@item.LogStatus</td>
                        }
                    </tr>
                    <tr>
                        <td style="padding-bottom:10px;"></td>
                        <td></td>
                    </tr>
                    <tr>
                        @foreach (var item in Model.deviceAccessdetais)
                        {
                            <td><b>@item.Source</b></td>
                            <td>@item.StartDateTime</td>
                            <td>@item.EndDateTime</td>
                            <td>@item.LogStatus</td>
                        }
                    </tr>
                </table>
                <br />
                 <p><a class="btn btn-primary btn-large"  onclick='window.location = "@Url.Action("ViewLogs", "Home")";'> View Data Import Logs &raquo;</a></p>
            </div>

            <!-- Example row of columns -->
            <div class="row">
                <div class="span4">
                    <h3>Customers</h3>
                    <p> In this section,you will find a listing of Reliant Heart centers containing both the SalesForce account name and the Expandable company name. </p>
                    <p><a class="btn"  onclick='window.location = "@Url.Action("CustomersIndex", "Customers")";'>Go To Customers &raquo;</a></p>
                </div>
                <div class="span4">
                    <h3>Devices</h3>
                    <p> In this section,you will find a sortable listing of all devices within Device Tracking. </p>
                    <p><a class="btn" onclick='window.location = "@Url.Action("DeviceIndex","Device")";'>Go To Devices &raquo;</a></p>
                </div>
                <div class="span4">
                    <h3>Patients</h3>
                    <p>In this section,you will find a listing of patients within Device Tracking.</p>
                    <p><a class="btn" onclick='window.location = "@Url.Action("PatientsIndex", "Patients")";'>Go To Patients &raquo;</a></p>
                </div>
            </div>

        </div> <!-- /container -->
            <!-- Le javascript
        ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="../assets/bootstrap/js/jquery.js"></script>
        <script src="../assets/bootstrap/js/bootstrap-transition.js"></script>
        <script src="../assets/bootstrap/js/bootstrap-alert.js"></script>
        <script src="../assets/bootstrap/js/bootstrap-modal.js"></script>
        <script src="../assets/bootstrap/js/bootstrap-dropdown.js"></script>
        <script src="../assets/bootstrap/js/bootstrap-scrollspy.js"></script>
        <script src="../assets/bootstrap/js/bootstrap-tab.js"></script>
        <script src="../assets/bootstrap/js/bootstrap-tooltip.js"></script>
        <script src="../assets/bootstrap/js/bootstrap-popover.js"></script>
        <script src="../assets/bootstrap/js/bootstrap-button.js"></script>
        <script src="../assets/bootstrap/js/bootstrap-collapse.js"></script>
        <script src="../assets/bootstrap/js/bootstrap-carousel.js"></script>
        <script src="../assets/bootstrap/js/bootstrap-typeahead.js"></script>

    </section>
}


