﻿
@*@model IEnumerable<DataAcessLayer.DeviceAccess>*@

@model DataAcessLayer.ViewModelLogDetails

@{
    ViewBag.Title = "ViewLogs";
    Layout = "~/Views/Shared/_Layout.cshtml";

    WebGrid grid = new WebGrid(
        Model.ExpandableDetails,
        rowsPerPage: ViewBag.rowsPerPage,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent"
    );

    WebGrid grid1 = new WebGrid(
       Model.RmDataLogDetails,
       rowsPerPage: ViewBag.rowsPerPage,
       selectionFieldName: "selectedRow",
       ajaxUpdateContainerId: "gridContent"
   );
}
<h2>ViewLogs</h2>
<script type="text/jscript">


$("#btnSubmit").live("click", function ()
{
 if ($('#fileToUpload').val() == "")
 {
 $("#spanfile").html("Please upload file");
 return false;
 }
 else
 {
 return checkfile();
 }
});

function checkfile()
{
 var file = getNameFromPath($("#fileToUpload").val());
 if (file != null)
 {
 var extension = file.substr((file.lastIndexOf('.') + 1));
 // alert(extension);
 switch (extension) {
 case 'jpg':
 case 'png':
 case 'gif':
 case 'pdf':
 flag = true;
 break;
 default:
 flag = false;
 }
 }
 if (flag == false)
 {
 $("#spanfile").text("You can upload only jpg,png,gif,pdf extension file");
 return false;
 }
 else
 {
 var size = GetFileSize('fileToUpload');
 if (size > 3)
 {
 $("#spanfile").text("You can upload file up to 3 MB");
 return false;
 }
 else
 {
 $("#spanfile").text("");
 }
 }
}

$(function ()
{
 $("#fileToUpload").change(function () {
 checkfile();});
});
</script>
@*@using (Html.BeginForm("ViewLogs", "Home", FormMethod.Post))*@
@using (Html.BeginForm("ViewLogs", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div style="padding-right:500px" id="divMessage">
        <p style="color:red; width:250px; font-size:large">@TempData["message"]</p>
    </div>
    @Html.ValidationSummary();
    <div>
        <ol>
            <li class="lifile">
                <input type="file" id="fileToUpload" name="file" />
                <span class="field-validation-error" id="spanfile"></span><input type="submit" id="btnSubmit" value="Upload" />
            </li>
        </ol>
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#divMessage").fadeOut(5000);
        });
    </script>


}

@using (Html.BeginForm("ViewLogs", "Home", FormMethod.Get))
{
    <div>RM Data Logs</div>
    <div id="gridContent">
        @grid1.Table(

         htmlAttributes: new
            {
                id = "grid1",
                @class = "table table-striped table-hover table-condensed"
            },
        alternatingRowStyle: "",
        selectedRowStyle: "",
        columns: grid1.Columns(
               grid1.Column(columnName: "LogId", header: "Log ID"),
               grid1.Column(columnName: "LogDescription", header: "Log Description"),
               grid1.Column(columnName: "Source", header: "Source"),
                   grid1.Column(columnName: "StartDateTime", header: "StartDateTime"),
                     grid1.Column(columnName: "EndDateTime", header: "EndDateTime"),
                       grid1.Column(columnName: "Status", header: "Status"),
                         grid1.Column(columnName: "LogDate", header: "LogDate"),
                           grid1.Column(columnName: "LoggedBy", header: "LoggedBy")

               ))
    </div>
    <div class="pagination">
        <table>
            <tr>
                <td>
                    <ul>
                        <li>@grid1.Pager(mode: WebGridPagerModes.All)</li>
                    </ul>
                </td>
                <td style="width:700px"></td>

                <td> Records Per Page:&nbsp;@Html.DropDownList("paging", new SelectList(new List<int> { 20, 50 }, ViewBag.rowsPerPage), new { @style = "width: 50px;", onchange = @"form.submit();" })</td>
            </tr>
        </table>

    </div>
    <div>Expandable Logs</div>
    <div id="gridContent">
        @grid.Table(

         htmlAttributes: new
            {
                id = "grid",
                @class = "table table-striped table-hover table-condensed"
            },
        alternatingRowStyle: "",
        selectedRowStyle: "",
        columns: grid.Columns(
               grid.Column(columnName: "LogId", header: "Log ID"),
               grid.Column(columnName: "LogDescription", header: "Log Description"),
               grid.Column(columnName: "Source", header: "Source"),
                   grid.Column(columnName: "StartDateTime", header: "StartDateTime"),
                     grid.Column(columnName: "EndDateTime", header: "EndDateTime"),
                       grid.Column(columnName: "Status", header: "Status"),
                         grid.Column(columnName: "LogDate", header: "LogDate"),
                           grid.Column(columnName: "LoggedBy", header: "LoggedBy")
               
               ))
    </div>
    <div class="pagination">
        <table>
            <tr>
                <td>
                    <ul>
                        <li>@grid.Pager(mode: WebGridPagerModes.All)</li>
                    </ul>
                </td>
                <td style="width:700px"></td>

                <td> Records Per Page:&nbsp;@Html.DropDownList("paging", new SelectList(new List<int> { 20, 50 }, ViewBag.rowsPerPage), new { @style = "width: 50px;", onchange = @"form.submit();" })</td>
            </tr>
        </table>

    </div>


    



}

