﻿@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">

        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>Reliant Heart-Device Tracking</h1>   
                <p>
                    Device Tracking data is updated twice a day.
                </p>

                <p>
                    <b>Sale Force data was last updated:</b>
                </p>
                <table>
                    <tr><td>Started:    @DateTime.Now</td><td >&nbsp;&nbsp;&nbsp;</td> <td>Ended:  @DateTime.Now</td><td>&nbsp;&nbsp;&nbsp;</td><td>End of package execution</td></tr>
                    <tr><td>Started:    @DateTime.Now</td><td>&nbsp;&nbsp;&nbsp;</td>  <td>Ended:  @DateTime.Now</td><td>&nbsp;&nbsp;&nbsp;</td><td>Beginning of package execution</td></tr>
                </table>
                <br />
                <p>
                    <b> Expandable data was last updated:</b>
                </p>
                
                <table>
                    
                    <tr><td>Started: @DateTime.Now</td><td>&nbsp;&nbsp;&nbsp;</td><td>Ended: @DateTime.Now</td><td>&nbsp;&nbsp;&nbsp;</td><td>End of package execution</td></tr>
                    <tr><td>Started: @DateTime.Now</td><td>&nbsp;&nbsp;&nbsp;</td><td>Ended: @DateTime.Now</td><td>&nbsp;&nbsp;&nbsp;</td><td>Beginning of package execution</td></tr>
                </table>   
                <br />        
                <p><a class="btn btn-primary btn-large"  onclick='window.location = "@Url.Action("CustomersIndex","Customers")";'> View Data Import Logs &raquo;</a></p>
            </div>

            <!-- Example row of columns -->
            <div class="row">
                <div class="span4">
                    <h2>Customers</h2>
                    <p> In this section,you will find a listing of Reliant Heart centers containing both the SalesForce account name and the Expandable company name. </p>
                    <p><a class="btn"  onclick='window.location = "@Url.Action("CustomersIndex", "Customers")";'>Go To Customers &raquo;</a></p>
                </div>
                <div class="span4">
                    <h2>Devices</h2>
                    <p> In this section,you will find a sortable listing of all devices within Device Tracking. </p>
                    <p><a class="btn" onclick='window.location = "@Url.Action("DeviceIndex","Device")";'>Go To Devices &raquo;</a></p>
                </div>
                <div class="span4">
                    <h2>Patients</h2>
                    <p>In this section,you will find a listing of patients within Device Tracking.</p>
                    <p><a class="btn" onclick='window.location = "@Url.Action("PatientsIndex", "Patients")";'>Go To Patients &raquo;</a></p>
                </div>
            </div>

            @*<hr>

            <footer>
        
                    <p>&copy; @DateTime.Now.Year - ReliantHeart-Device Tracking</p>
             
        </footer>*@

        </div> <!-- /container -->
        <!-- Le javascript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../assets/js/jquery.js"></script>
        <script src="../assets/js/bootstrap-transition.js"></script>
        <script src="../assets/js/bootstrap-alert.js"></script>
        <script src="../assets/js/bootstrap-modal.js"></script>
        <script src="../assets/js/bootstrap-dropdown.js"></script>
        <script src="../assets/js/bootstrap-scrollspy.js"></script>
        <script src="../assets/js/bootstrap-tab.js"></script>
        <script src="../assets/js/bootstrap-tooltip.js"></script>
        <script src="../assets/js/bootstrap-popover.js"></script>
        <script src="../assets/js/bootstrap-button.js"></script>
        <script src="../assets/js/bootstrap-collapse.js"></script>
        <script src="../assets/js/bootstrap-carousel.js"></script>
        <script src="../assets/js/bootstrap-typeahead.js"></script>

    </section>
}


