﻿@model DeviceTrackingSystem.Models.Customer



@{
    
    ViewBag.Title = " Create New Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>Create New Customer</h2>

<hr />
<style type="text/css">
.validation-error {

    color:red;
     font-weight:100;
}
    </style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style="padding-left:750px" id="divMessage">
        <p style="color:red; width:250px; font-size:large">@TempData["message"]</p>
    </div>

<table style="font-size:16px">
        <tr>
            <td align="left" style="font-weight:bold; font-size:16px;">
                @Html.LabelFor(model => model.Customer_ID) 
            </td>
            <td>
                @Html.EditorFor(model => model.Customer_ID)
              
                @Html.ValidationMessageFor(m => m.Customer_ID, null, new { @class= "validation-error", data_valmsg_for = "Customer_ID" })
            </td>
            <td style="padding-left:20px;font-size:small;font-family:Arial;font-style:italic">ex:Z-MNI.</td>
        </tr>
        <tr>
            <td align="left" style="font-weight:bold; font-size:16px;">
                @Html.LabelFor(model => model.SF_Accounts.Account_ID)
            </td>
            <td>
                @Html.DropDownList("ID", (IEnumerable<SelectListItem>)ViewBag.AccountNameList, "Select Account Name")
              @*@Html.DropDownListFor(M => M.SF_Accounts, new SelectList("Account_ID", "Account_Name"))*@ 
              @Html.ValidationMessageFor(model => model.SF_Accounts.Account_ID)
            </td>
        </tr>
        <tr>
            <td align="left" style="font-weight:bold; font-size:16px;">
                @Html.LabelFor(model => model.Customer_Name)
            </td>
            <td>
                @Html.EditorFor(model => model.Customer_Name)
                @Html.ValidationMessageFor(model => model.Customer_Name, null, new { @class = "validation-error", data_valmsg_for = "Customer_Name" })
            </td>
        </tr>


  

        <tr>
            <td style="padding-top:60px"></td>
            <td>
                <input type="submit" value="Save" style="width:60px" />
            </td>
        </tr>
    </table>


    
}

<div>
    @Html.ActionLink("Back to List", "CustomersIndex")
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#divMessage").fadeOut(5000);
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


    
