﻿@model IEnumerable<DataAcessLayer.DeviceAccess>

@{
    ViewBag.Title = "CustomersIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";

    WebGrid grid = new WebGrid(
        Model,
        rowsPerPage: ViewBag.rowsPerPage,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent"
    );
}

<h3>Customer Index</h3>
@using (Html.BeginForm("CustomersIndex", "Customers", FormMethod.Get))
{
    <div style="padding-left:750px" id="divMessage">
        <p style="color:red; width:250px; font-size:large">@TempData["message"]</p>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    @Html.Label("Find by CustomerID or Name:", null, new { @class = "cssPartID" })
                </td>
                <td>
                    @Html.TextBox("SearchKey", "", new { @class = "csstxtSearch" })
                </td>
                <td>
                    <input type="submit" value="Search" id="btnSubmit" />
                </td>

                <td>
                    @Html.ActionLink("Clear",  "CustomersIndex","Customers")
                    
                  
                </td>
            </tr>
        </table>
    </div>
    <div style="float:right">
        <table>
            <tr style="float:left">
                <td style="width:80px;">
                    @Html.ActionLink("Show All", "CustomersIndex", new { ShowAll = "true" })
                <td>
                    @Html.ActionLink("Show Archived", "CustomersIndex", new { ShowAll = "false" })
                </td>
                <td style="width:50px"></td>
            </tr>
        </table>
    </div>
    <div id="gridContent">
        @grid.Table(

         htmlAttributes: new
            {
                id = "grid",
                @class = "table table-striped table-hover table-condensed"
            },
        alternatingRowStyle: "",
        selectedRowStyle: "",
        columns: grid.Columns(

             grid.Column(columnName: "ExpandableCustomerID", header: "Expandable CustomerID"),
             grid.Column(columnName: "ExpandableCustomerName", header: "Expandable Customer Name"),
             grid.Column(columnName: "SalesForceCustomerName", header: "Sales Force Customer Name"),

             grid.Column("", format: @<text>

               @Html.ActionLink("Edit", "Edit", new { id = item.SF_AccountID, Customer_Name = item.ExpandableCustomerName, customerCode = item.ExpandableCustomerID, CustId = item.ID }) |      
               @Html.ActionLink("Details", "Details", new { id = item.ID }) |           
               @Html.ActionLink("Delete", "CustomersDelete", new { id = item.ExpandableCustomerID }, new { onclick = "return confirm('Are you sure want to delete record ?');" })
            </text>, style: "col2Width", canSort: false)




                                                                                                                                                                                                                                                         ))
    </div>
    <div class="pagination">
        <table style="width:100%;height:100px">
            <tr>
                <td >
                    <ul class="pagination">
                        <li>@grid.Pager(mode: WebGridPagerModes.All)</li>
                    </ul>
                </td>
               </tr>
           </table>
      

    </div>
    <div style="width:100%"><table>
    <tr>

        <td style="padding-left:900px;width:1000px"> Records Per Page:&nbsp;@Html.DropDownList("paging", new SelectList(new List<int> { 20, 50 }, ViewBag.rowsPerPage), new { @style = "width: 50px;", onchange = @"form.submit();" })</td>
    </tr>
</table></div>

    

   

    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
        $("#divMessage").fadeOut(5000);
    });
    </script>

}





