﻿@model DataAcessLayer.DeviceAccess.ViewModelCustomerDetails

@{
    ViewBag.Title = "CustomerDetailsPatientEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Customer Patient Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <p style="padding-top:1px"></p>
    <table>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                Patient ID :
            </td>
            <td>
                @Html.DropDownList("ID", ViewBag.patientID as SelectList, " - Select - ", new { @class = "ddlDevice" })
            </td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                IRF :
            </td>
            <td>
                @Html.DropDownList("ID", ViewBag.iRF as SelectList, " - Select - ", new { @class = "ddlDevice" })
            </td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                Implant Date :
            </td>
            <td>
                @Html.DropDownList("ID", ViewBag.implantDate as SelectList, " - Select - ", new { @class = "ddlDevice" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-top:20px"><input type="submit" value="Save" style="width:80px; height:30px" /></td>
        </tr>
    </table>

}
<p style="padding-top:30px">
    <hr />
</p>
<div>
    @Html.ActionLink("Back to List", "Details", new { id = (int)ViewBag.customerID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
