﻿@model DataAcessLayer.DeviceAccess.ViewModelCustomerDetails

@{
    ViewBag.Title = "CustomerDetailsPatientDetails";
}

<h2>Customer Patient Details</h2>
<hr />

<table class="table table-striped">
    <tr>
        <td align="right" style="font-weight:700; font-size:16px; padding-top:20px">
            Patient ID :
        </td>
        <td ">
            @ViewBag.patientID
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            IRF :
        </td>
        <td >
            @ViewBag.iRF
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Implant Date :
        </td>
        <td >
            @ViewBag.implantDate
        </td>
    </tr>
</table>
<p style="padding-top:30px">
    <hr />
</p>
<p>
    @*@Html.ActionLink("Edit", "Edit") |*@
    @Html.ActionLink("Back to List", "Details", new { id = (int)ViewBag.customerID })
</p>
