﻿@model DataAcessLayer.DeviceAccess.ViewModelCustomerDetails

@{
    ViewBag.Title = "CustomerDetailsDeviceEdit";
}

<h2>Customer Device Edit</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                Part ID :
            </td>
            <td>
                @Html.DropDownList("PID", ViewBag.partID as SelectList, " - Select - ", new { @class = "ddlDevice" })
            </td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                Serial Number :
            </td>
            <td>
                @Html.DropDownList("PID", ViewBag.serialNumber as SelectList, " - Select - ", new { @class = "ddlDevice" })
            </td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                Status :
            </td>
            <td>
                @Html.DropDownList("PID", ViewBag.status as SelectList, " - Select - ", new { @class = "ddlDevice" })
            </td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                Parent Part ID :
            </td>
            <td>
                @Html.DropDownList("PID", ViewBag.parentPartID as SelectList, " - Select - ", new { @class = "ddlDevice" })
            </td>
        </tr>
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">
                Parent Serial Number :
            </td>
            <td>
                @Html.DropDownList("PID", ViewBag.parentSerialNumber as SelectList, " - Select - ", new { @class = "ddlDevice" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save" style="width:80px; height:30px" /></td>
        </tr>
    </table>
}
<hr />
<div>
    @Html.ActionLink("Back to List", "Details", new { id = (int)ViewBag.id })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style type="text/css">
    .ddlDevice {
        Width: 120px;
        height: 25px;
    }
</style>