﻿@model DataAcessLayer.DeviceAccess.ViewModelCustomerDetails

@{
    ViewBag.Title = "CustomerDetailsDeviceDetails";
}

<h2>Customer Device Details</h2>

    <hr />

<table class ="table table-striped">
    <tr>
        <td align="right" style="font-weight:700; font-size:16px; padding-top:20px">
            Part ID :
        </td>
        <td >
            @ViewBag.partID
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Serial Number :
        </td>
        <td >
            @ViewBag.serialNumber
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Status :
        </td>
        <td >
            @ViewBag.status
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Parent Part ID :
        </td>
        <td >
            @ViewBag.parentPartID
        </td>
    </tr>
    <tr>
        <td align="right" style="font-weight:700; font-size:16px">
            Parent Serial Number :
        </td>
        <td >
            @ViewBag.parentSerialNumber
        </td>
    </tr>
    </table>
    <p style="padding-top:30px">
        <hr />
    </p>
    <p>
        @*@Html.ActionLink("Edit", "Edit" ) |*@
        @Html.ActionLink("Back to List", "Details", new { id = (int)ViewBag.id })
    </p>
