﻿@model DataAcessLayer.DeviceAccess.ViewModelCustomerDetails

@{
    ViewBag.Title = "CustomerDetails";
}

<h2>Customer Information Details</h2>

<hr />
<div style="padding-left:750px" id="divMessage">
    <p style="color:red; width:250px; font-size:large">@TempData["message"]</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#divMessage").fadeOut(5000);
    });
</script>
@foreach (var item in Model.customersDetails)
{
    <table >
        <tr> <td style="font-weight:600; font-size:15px">Customer ID :</td>
            <td align="left">@item.CustomerID</td>
        </tr>
        <tr>
            <td style="font-weight:600; font-size:15px">Customer Name :</td>
            <td>@item.CustomerName</td>
        </tr>
        <tr>
            <td style="font-weight:600; font-size:15px">SalesForce Account  :</td>
            <td>@item.SalesForceAccount</td>
        </tr>
        <tr>
            <td style="font-weight:600; font-size:15px">Updated  :</td>
            <td>@item.Updated</td>
        </tr>
        <tr>
            <td style="font-weight:600; font-size:15px">Updated by  :</td>
            <td>@item.LastAlteredBy</td>
        </tr>
    </table>
}
@if (Model.customersDetailsDevice.Count > 0)
{

    <p style="padding-top:30px"><hr /></p>
    <h2 >Devices</h2>
    <hr />

    <table class="table table-striped">
        <tr>
            <td align="right" style="font-weight:700; font-size:16px">Part ID</td>
            <td align="right" style="font-weight:700; font-size:16px">Serial Number</td>
            <td align="right" style="font-weight:700; font-size:16px">Status</td>
            <td align="right" style="font-weight:700; font-size:16px">Parent Part ID</td>
            <td align="right" style="font-weight:700; font-size:16px">Parent Serial Number</td>
            <td></td>
        </tr>
        @foreach (var item in Model.customersDetailsDevice)
        {
            <tr>
                <td style="padding-right:20px">@item.PartID</td>
                <td style="padding-right:20px">@item.SerialNumber</td>
                <td style="padding-right:20px">@item.Status</td>
                <td style="padding-right:20px">@item.ParentPartID</td>
                <td style="padding-right:20px">@item.ParentSerialNumber</td>
                <td>
                  
                     @Html.ActionLink("Edit", "Edit", "Device", new { id = item.PID, CustId = item.CustID, DeviceLocId = item.DeviceLocId, Status = item.Status, ParentID = item.ParentPartID, Pid = item.PID, ParentpartId = item.ParentPartID, psn = item.ParentSerialNumber }, new { target = "_blank" }) |

                    @Html.ActionLink("Details", "Details", "Device", new { id = item.PID },new { target = "_blank" })
                </td>
            </tr>
        }
    </table>
}
else
{
    <hr />
    <div style="padding-left:400px; padding-top:20px; padding-bottom:20px">
        <h3>No devices for this customer</h3>
    </div>
    <hr />
}


@if (Model.customersDetailsPatient.Count > 0)
{

    <p style="padding-top:30px"><hr /></p>
    <h2 style="font-weight:600">Patients</h2>
    <hr />

    <table class="table table-striped">
        <tr>
            <td align="center" style="font-weight:700; font-size:16px">Patient ID</td>
            <td align="center" style="font-weight:700; font-size:16px">IRF</td>
            <td align="center" style="font-weight:700; font-size:16px">Implant Date</td>
            <td></td>
        </tr>
        @foreach (var item in Model.customersDetailsPatient)
        {
            <tr>
                <td>@item.PatientID</td>
                <td>@item.IRF</td>
                <td>@item.ImplantDate</td>
                <td>
                    @Html.ActionLink("Edit", "CustomerDetailsPatientEdit", new { id = item.ID, customerID = item.Customer_Id }, new { target = "_blank" }) | 
                    @Html.ActionLink("Details", "CustomerDetailsPatientDetails", new { id = item.ID, patientID = item.PatientID, iRF = item.IRF, implantDate = item.ImplantDate, customerID = item.Customer_Id }, new { target = "_blank" })
                </td>
            </tr>
        }
    </table>
}
else
{
    <hr />
    <div style="padding-left:400px; padding-top:20px; padding-bottom:20px">
        <h3>No Patients for this customer</h3>
    </div>
    <hr />
}



    <div style="padding-top:50px">
        
        @Html.ActionLink("Back to List", "CustomersIndex")
        </div>
<p style="padding-top:30px"><hr /></p>