﻿@model DeviceTrackingSystem.Models.SF_Accounts

@{
    ViewBag.Title = "CustomersEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}


<style type="text/css">
    .ddlDevice {
        Width: 500px;
        height: 35px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>        

        @Html.HiddenFor(model => model.ID)
      
        <p style="font-size:19px">Edit : @TempData["customerName"] | @TempData["customerID"]</p>
        <hr />
        <table>
            <tr>
                <td align="right" style="font-size:small;padding-right:10px">
                   SalesForce Account   
                </td>
                <td>
                    @Html.DropDownList("ID", ViewBag.sfAccountName as SelectList, " - Select - ", new { @class = "ddlDevice" })
                    @Html.ValidationMessageFor(model => model.Account_Name)
                </td>
            </tr>

            <tr>
               
                <td align="right" style="font-size:small;padding-right:10px">
                    Archived   
                </td>
                <td style="padding-left:20px">
                    
                    @Html.CheckBox("templateId",Convert.ToBoolean(@TempData["IsArchived"]))
  
                </td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td style="padding-top:50px"></td>
                <td>
                    <input type="submit" value="Save" style="width:60px" />
                </td>
            </tr>
        </table>

       
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "CustomersIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
