﻿@model DeviceTrackingSystem.Models.LoginModel

@{
    ViewBag.Title = "User Log In";
}

<hgroup class="title">
    
</hgroup>

<section id="loginForm">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#divMessage").fadeIn(50);
            $("#userloginmsg").fadeIn(50);
            $("#divMessage").fadeOut(5000);
            $("#userloginmsg").fadeOut(5000);
            $("#divMessage").fadeIn(50);
            $("#userloginmsg").fadeIn(50);
            $("#divMessage").fadeOut(5000);
            $("#userloginmsg").fadeOut(5000);
            $("#divMessage").fadeIn(50);
            $("#userloginmsg").fadeIn(50);

        
       
      
    });
    </script>
   
          
           

 
@*<h2>Use a local account to log in.</h2>*@
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="padding-left:400px" id="divMessage">
        <p style="color:navy; width:500px; font-size:large;font-stretch:expanded">Welcome To Reliant Heart Device Tracking</p>
    </div>
    <div class="hero-unit">

        
       
        <table align="center" id="userloginmsg">
            <tr><td style="color:navy;"><h3>@ViewBag.Title</h3></td></tr>
            
        </table>
        <br />
        <fieldset>        
        
            <br />
            <table align="center">
                <tr>
                    <td style="color:navy;">@Html.LabelFor(m => m.UserName)</td>
                    <td style="padding-left:10px">@Html.TextBoxFor(m => m.UserName)</td>
                    <td>@Html.ValidationMessageFor(m => m.UserName)</td>
                </tr>

                <tr>
                    <td style="color:navy;">@Html.LabelFor(m => m.Password)</td>
                    <td style="padding-left:10px">@Html.PasswordFor(m => m.Password)</td>
                    <td>@Html.ValidationMessageFor(m => m.Password)</td>
                </tr>

            </table>
            <br />
            <table align="center">
                <tr>
                    <td>@Html.CheckBoxFor(m => m.RememberMe) </td>
                    <td style="color:navy;">@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</td>
                </tr>
            </table>
            <br />  
            <table align="center">

                <tr>

                    <td style="padding-left:40px"><input type="submit" value="Log in" style="width:100px" /></td>



                </tr>
            </table>
           
           
        </fieldset>
       
    </div>
 }
</section>

@*<section id="managePasswordForm">
        <h2>To Change Password.</h2>
    @Html.ActionLink("Change Password", "Manage", "Account")
    </section>*@

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
