﻿@{
    ViewBag.Title = "RoleCreate";
    Layout ="~/Views/Shared/_Layout.cshtml";
}
<div class="spacerBody">
    <p>&nbsp;</p>
    @Html.ActionLink("Roles", "RolesIndex") | 
    @Html.ActionLink("Add Role to User", "RoleAddToUser")

    <h2>RoleCreate</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            Role name
        </div>
        <p>
            @Html.TextBox("RoleName")
        </p>
        <input type="submit" value="Save" />
    }
</div>
