﻿@*@{
    ViewBag.Title = "Create";
}

<h2>Create Role</h2>
@Html.ActionLink("Create New Role", "RoleCreate") | 
@Html.ActionLink("Add Role to User", "ManageUserRoles")

<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Role name
    </div>
    <p>
        @Html.TextBox("RoleName")
    </p>
    <input type="submit" value="Save" />
}*@


@{
    ViewBag.Title = "Role Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>&nbsp;</p>
<div class="spacerBody">
    @Html.ActionLink("Create New Role", "RoleCreate") |
    @Html.ActionLink("Add Role to User", "RoleAddToUser")
    <h2>Role Index</h2>
    <div class="table">


        @foreach (string s in Model)
        {
            <div class="tr">
                <div class="td">
                    @s
                </div>
                <div class="td">
                    <span onclick="return confirm('Are you sure to delete?')">
                        <a href="/Account/RoleDelete?RoleName=@s" class="delLink">@*<img src="/images/deleteicon.gif" alt="Delete" class="imgBorder0" />*@ Delete</a>
                    </span>
                </div>
            </div>
        }
    </div>
</div>
