﻿@*@{
    ViewBag.Title = "CustomersIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomersIndex</h2>*@


@model IEnumerable<DeviceTrackingSystem.Models.Person>

@{
    ViewBag.Title = "CustomersIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>People List</h2>

<div id="DivGrid">
    @{
        var grid = new WebGrid(source: Model);
        @grid.GetHtml(htmlAttributes: new { id = "DataTable" }, columns: grid.Columns(
        grid.Column("ID"),
        grid.Column("First"),
        grid.Column("Last"),
        grid.Column("Birthdate"),
        grid.Column("", header: "ToEdit", format: @<text>@Html.ActionLink("Edit", "Edit", "Person", new { id = item.ID }, new { target = "_blank" })</text>)));
    }

</div>

